.menu {
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
  
}

.menu div {
  padding: 20px;
  border-bottom: 1px solid rgb(234, 234, 234);

 
}

.menu h3 {
  text-align: center;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}
.container {
  position: relative;
  transition: all .5s ease-in-out;
}

.container button {
  background-color: #fff;
  color: grey;
  height: 40px;
  width: 120px;
  line-height: 40px;
  text-align: center;
  font-size: 1rem;
  border: none;
  margin-left: 55px;
  
}
